<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :paid %><br>
    <%= f.check_box :paid %>
  </div>
  <div class="field">
    <%= f.label :ready %><br>
    <%= f.check_box :ready %>
  </div>
  <div class="field">
    <%= f.label :assigned %><br>
    <%= f.check_box :assigned %>
  </div>
  <div class="field">
    <%= f.label :arrived %><br>
    <%= f.check_box :arrived %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.text_field :zip %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :shipped_at %><br>
    <%= f.datetime_select :shipped_at %>
  </div>
  <div class="field">
    <%= f.label :arrived_at %><br>
    <%= f.datetime_select :arrived_at %>
  </div>
  <div class="field">
    <%= f.label :confirmed_at %><br>
    <%= f.datetime_select :confirmed_at %>
  </div>
  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.text_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
