<p id="notice"><%= notice %></p>

<h1>Listing Orders</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Paid</th>
      <th>Ready</th>
      <th>Assigned</th>
      <th>Arrived</th>
      <th>Address</th>
      <th>Zip</th>
      <th>Phone</th>
      <th>Shipped at</th>
      <th>Arrived at</th>
      <th>Confirmed at</th>
      <th>Restaurant</th>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.price %></td>
        <td><%= order.paid %></td>
        <td><%= order.ready %></td>
        <td><%= order.assigned %></td>
        <td><%= order.arrived %></td>
        <td><%= order.address %></td>
        <td><%= order.zip %></td>
        <td><%= order.phone %></td>
        <td><%= order.shipped_at %></td>
        <td><%= order.arrived_at %></td>
        <td><%= order.confirmed_at %></td>
        <td><%= order.restaurant %></td>
        <td><%= order.customer %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
