<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @order.paid %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @order.ready %>
</p>

<p>
  <strong>Assigned:</strong>
  <%= @order.assigned %>
</p>

<p>
  <strong>Arrived:</strong>
  <%= @order.arrived %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @order.zip %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Shipped at:</strong>
  <%= @order.shipped_at %>
</p>

<p>
  <strong>Arrived at:</strong>
  <%= @order.arrived_at %>
</p>

<p>
  <strong>Confirmed at:</strong>
  <%= @order.confirmed_at %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
