<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <b> <%= @restaurant.name %>'s Menu</b>
    </div>
    <%# if current_user.role == "customer" %>
    <div class="panel-body">
        <div class="row">
            <% @foods.each do |food| %>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= link_to food.name, restaurant_food_path(@restaurant, food) %>
                        <span class = "pull-right">$<%= food.price %></span>
                    </div>
                    <div class="panel-body">
                        <%= image_tag(food.image, class: 'food_list_image',  size: "120x150") %>
                        <span class = "pull-right"><%= truncate(strip_tags(food.description), length: 80) %></span>
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-success" href="/orders/addtocart/<%= food.id %>">Order</a>
                        <span class = "pull-right">Available Number: <%= food.num_left %>/<%= food.num_left + food.num_sold %></span>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <%# end %>
    <!-- /.panel-body -->
</div>