<p id="notice"><%= notice %></p>

<h1>Listing Foods</h1>
<!--<%= @restaurant.id %>-->
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>RestID</th>
      <th>Description</th>

    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
    <!--<% if food.restaurant_id == @restaurant.id%>-->
      <tr>
        <td><%= food.name %></td>
        <td><%= food.price %></td>
        <td><%= food.restaurant_id %></td>
        <td><%= food.description %></td>
      </tr>
      <!--<%end %>-->
    <% end %>
  </tbody>
</table>

<br>

