<h1>Comments</h1>
<% if current_user.role == "customer" %>
<%= link_to 'New Comment', new_restaurant_comment_path(@restaurant), class: "btn btn-lg btn-success" %>
<% end %>
  <% cache(cache_key_for_comments_table(@restaurant)) do %>
    <% @comments.each do |comment| %>
    <% cache(cache_key_for_comment_row(comment)) do %>
      <div class="media well">
          <div class="media-body">
              <h4>
                  <%= comment.customer.name %> <small>rated <%= comment.rating %> in <%= comment.created_at%></small>
              </h4>
              <%= comment.message %> 
          </div>
      </div>
    <% end %>
    <% end %>
<br>
  <% end %>