<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header"></h2>
    </div>
    <!-- /.col-lg-12 -->
</div>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Settings
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-pills">
                    <li>
                        <a href="/users/edit" >Basic</a>
                    </li>
                    <li class="active">
                        <a href="#">Restaurant</a>
                    </li>
                </ul>
                <br/>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home-pills">
                    	<% if params[:feedback] == 'succ' %>
                    	<div class="alert alert-success">
                    		<li>Update successfully</li>
                    	</div>
                    	<% end %>
                      <%= form_for(@restaurant) do |f| %>
                        <% if @restaurant.errors.any? %>
                          <div class="alert alert-danger">
                            <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this user_restaurant from being saved:</h2>

                            <ul>
                              <% @restaurants.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                              <% end %>
                            </ul>
                          </div>
                        <% end %>
                        <form role="form" method="post">
                            <fieldset>
                                <div class="form-group">
                                    <%= f.label :name %>
                                    <%= f.text_field :name, autofocus: true, class: 'form-control', :placeholder => "Restaurant Name" %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :address %>
                                    <%= f.text_area :address, class: 'form-control', :placeholder => "Address" %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :zip %>
                                    <%= f.text_field :zip, class: 'form-control', :placeholder => "ZipCode" %>
                                </div>
                                <div class="form-group">
                                    <%= f.label :phone %>
                                    <%= f.text_field :phone, class: 'form-control', :placeholder => "Phone Number" %>
                                </div>

                                <button type="submit" class="btn btn-success">Save</button>
                                <button type="reset" class="btn btn-warning">Reset</a>
                            </fieldset>
                        </form>
                      <% end %>
                    </div>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-6 -->
</div>
<!-- /.row -->
