<p id="notice"><%= notice %></p>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Restaurants</b>
    </div>
    <div class="panel-body">
        <div class="row">
            <% @restaurants.each do |restaurant| %>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= link_to restaurant.name, restaurant_path(restaurant) %>
                    </div>
                    <div class="panel-body">
                        <b>Address:</b> <%= restaurant.address %> <br/>
                        <b>Zip Code:</b> <%= restaurant.zip %><br/>
                        <b>Phone:</b> <%= restaurant.phone %>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <!-- /.panel-body -->
</div>