<br/>
<div class="panel panel-default">
    <div class="panel-heading">
        <b>Restaurants</b>
    </div>
    <div class="panel-body">
        <div class="row">
            <% @restaurants.each do |restaurant| %>
                <% @comments = restaurant.comments %>
                <% avg_rating = 0%>
                <% count = 0%>
                <% @comments.each do |comment|%>
                    <% avg_rating = avg_rating+comment.rating%>
                    <% count = count+1%>
                <%end%>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <%= link_to restaurant.name, restaurant_path(restaurant) %>  
                        <!--<span class = "pull-right">$<%#= restaurant.distance_to(@address) %></span>-->
                    </div>
                    <div class="panel-body">
                        <b>Avg Rating:</b> <%= avg_rating*1.0/count %> <br/>
                        <b>Address:</b> <%= restaurant.address %> <br/>
                        <b>Zip Code:</b> <%= restaurant.zip %><br/>
                        <b>Phone:</b> <%= restaurant.phone %>
                    </div>
                </div>
            </div>
            <% end %>
            <!-- /.col-lg-4 -->
        </div>
    </div>
    <!-- /.panel-body -->
</div>

